#controlBoard {
  padding: 1.2em;
  max-width: 40em;
  margin: 3em 2em;
  .checkbox-group{
    .checkbox{
        display: flex;
        margin: 1em;
        input[type="checkbox"]{
            margin-right: 0.75em;
        }
    }
  }
}
